* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ececec;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #9fd3c7;
  color: #385170;
  border-bottom: 4px solid #142d4c;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 15px;
  text-transform: lowercase;
  margin-top: 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.2s; /* Animation */
}

.gallery::after {
  content: "";
  width: 350px;
}

.gallery img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.3);
}
